* {
    margin: 0;
    box-sizing: border-box;
}

.icon-part {
    padding: 20px 20px 20px 20px;
    /* margin: 0 auto; */
    background: black;
    color: whitesmoke;
}
.icon-part-container {
    display: flex;
    justify-content: space-between;
    align-items: center;   
     max-width: 1100px;
     margin: 0 auto;

}
h4 {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icon-part-list p {}